

// clearfix the content areas
.content-area, .narrow-content, .site-content, .content-two-column, .content-alternating {
	@include clearfix;
}


.content {
	padding: 20px 30px;

	@include respond-to( 768px ) {
		width: 66.67%;

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}
}


.content-two-column {
	padding: 30px 20px;
	@include respond-to( 768px ) { padding: 50px 30px; }

	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.column {
		@include respond-to( 768px ) {
			float: left;
			width: 50%;
		}
	}
}


.content-two-column, .content {
	ul {
		padding: 5px 0 20px;

		li {
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1OTYwNUU3REZGMTkxMUUzODk4QUYwNkY1MDYzQjE5MSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1OTYwNUU3RUZGMTkxMUUzODk4QUYwNkY1MDYzQjE5MSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU5NjA1RTdCRkYxOTExRTM4OThBRjA2RjUwNjNCMTkxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjU5NjA1RTdDRkYxOTExRTM4OThBRjA2RjUwNjNCMTkxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+2goQgAAAAEpJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxqMWjFg9+i1nI0VRfX18ApPoJKCtsbGycMOh8zDhaH49aPGrxqMWjFo9aPOgsBggwADiACzfQ6nL5AAAAAElFTkSuQmCC) top left no-repeat;
			padding: 4px 15px 4px 35px;
			@include font-cursive;
			font-size: 20px;
			line-height: 25px;
		}
	}
}


.content-alternating {
	padding: 30px 0;

	@include respond-to( 700px ) {
		padding: 50px 0;

		.row {
			@include clearfix;

			.row-content {
				padding: 20px;
				position: relative;

				@include respond-to( 700px ) { 
					padding: 30px; 
				}

				h2 {
					@include font;
					text-transform: uppercase;
					font-size: 32px;
					line-height: 38px;
					padding: 10px 0 0;
				}
			}

			&.odd .row-content:before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				top: 30px;
				left: -60px;
				border: 30px solid transparent;
				border-right: 30px solid white;
			}

			&.even .row-content:before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				top: 30px;
				right: -60px;
				border: 30px solid transparent;
				border-left: 30px solid white;
			}

			img, .row-content {
				float: right;
				width: 50%;
			}

			&.odd {
				img, .row-content {
					float: left;
				}
			}
		}
	}
}


.content-narrow {
	padding: 20px;
	max-width: 700px;
	margin: 0 auto;

	@include respond-to( 768px ) {
		padding: 40px 0;
	}
}


.image {
	@include respond-to( 768px ) {
		width: 33.33%;

		&.left {
			float: left;
		}
		
		&.right {
			float: right;
		}
	}

	img {
		display: block;
		height: auto;
	}
}

